* {
  margin: 0;
  padding: 0;
}
body {
  background: #dcdcdc;
  position: relative;
  height: 100vh;
}

.botonUno {
  position: absolute;
  top: 200px;
  left: 0;
  right: 0;
  margin: auto;
  width: 220px;
  padding: 20px;
  text-align: center;
  font-size: 20px;
  border-radius: 15px;
  background: linear-gradient(to right, blue, lightgray);
  border-left: 12px solid black;
  border-bottom: 12px solid green;
  border-right: 12px solid blue;
  border-top: 12px solid red;
}

.botonDos {
  position: absolute;
  top: 400px;
  left: 0;
  right: 0;
  margin: auto;
  width: 220px;
  padding: 20px;
  text-align: center;
  font-size: 20px;
  background: #000;
  color: #fff;
  border: 8px solid;
  border-image: linear-gradient(to right, hotpink, blueviolet) 1;
}
