* {
  margin: 0;
}
body {
  background-color: #ffffff;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

fieldset {
  font-family: sans-serif;
  font-size: 15px;
  width: 500px;
  background-color: #ffffff;
  border-radius: 20px;
  margin: 50px;
}
caption {
  border-radius: 50%;
  font-family: sans-serif;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 50px;
  color: #f54927;
}
form {
  text-align: center;
  font-size: 12px;
}
.encabezado {
  width: 100%;
  height: 80px;
  background-color: #f54927;
  color: #ffffff;
  text-align: center;
}
.pie_pagina {
  width: 100%;
  height: 90px;
  background-color: #f54927;
  color: #ffffff;
  text-align: center;
  
}
